<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout.html"
>
    <head>
        <meta charset="UTF-8">
        <title>Products</title>
    </head>
    <body>
        <div class="p-3" layout:fragment="content">
            <div class="p-3" sec:authorize="hasRole('ADMIN')" >
                <a class="btn btn-primary" th:href="@{/admin/newProduct}">Add product</a>
            </div>
            <form method="get" th:action="@{/user/index}" class="mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="Rechercher un produit..." />
                    <button class="btn btn-outline-primary" type="submit">Rechercher</button>
                </div>
            </form>
            <table class="table">
                <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                </thead>
                <tbody>
                    <tr th:each="p : ${productList}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.name}"></td>
                        <td th:text="${p.price}"></td>
                        <td th:text="${p.quantity}"></td>
                        <td class="d-flex gap-2" sec:authorize="hasRole('ADMIN')">
                            <a class="btn btn-warning" th:href="@{/admin/editProduct(id=${p.id})}">Modifier</a>
                            <form method="post" th:action="@{/admin/delete(id=${p.id})}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>